" =============================================================================
" VIM Options
" =============================================================================

" Search
set hlsearch
set ignorecase smartcase
set incsearch
" Navigation
set scrolloff=10
" Display & Visual Feedback
set showmode
set showcmd
set relativenumber
set visualbell
" Command & Input Handling
set clipboard+=unnamed
set notimeout
set history=1000
set idearefactormode=normal

" =============================================================================
" Extensions
" =============================================================================

Plugin 'vim-scripts/argtextobj.vim'
Plugin 'tpope/vim-surround'
Plugin 'machakann/vim-highlightedyank'
Plugin 'preservim/nerdtree'
" IntelliJ IDEA Vim Plugins
set quickscope
set which-key

let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']

" Register Leader Key
let mapleader = " "

" =============================================================================
" Non-Leader Keybindings (shared with Neovim)
" =============================================================================

" Navigation: H/L for line start/end, J/K for paragraph
map H ^
map L $
map J }
map K {

" Yank and paste improvements
vnoremap p "_dP`]
nnoremap p p`]
vnoremap y ygv<Esc>$
nnoremap Y y$

" Clipboard operations
nnoremap ,y "+y
vnoremap ,y "+y
nnoremap ,yy "+yy
nnoremap ,p "+p

" Delete without yanking
nnoremap x "_x
nmap X "_d
nmap XX "_dd
vmap X "_d
vmap x "_d

" Change without yanking
nnoremap c "xc
xnoremap c "xc

" Word operations
nmap ,c yiw
nmap ,v viw

" Reselect last-pasted text
nnoremap gp `[v`]

" Center screen when jumping to next match
nnoremap n nzz
nnoremap N Nzz
vnoremap n nzz
vnoremap N Nzz

" Center screen when scrolling
nnoremap <C-u> <C-u>zz
nnoremap <C-d> <C-d>zz
vnoremap <C-u> <C-u>zz
vnoremap <C-d> <C-d>zz

" Indent/outdent keeping selection
xnoremap < <gv
xnoremap > >gv

" Copy whole file
nmap <C-a> ggVG"+y

" =============================================================================
" Non-Leader Quick Navigation (g-prefix, no leader)
" =============================================================================

:map gk <Action>(MethodUp)
:map gj <Action>(MethodDown)
:map ge <Action>(GotoNextError)
:map gE <Action>(GotoPreviousError)
:map gs <Action>(JumpToLastChange)
:map gl <Action>(JumpToNextChange)
:map ga <Action>(VcsShowNextChangeMarker)
:map go <Action>(VcsShowPrevChangeMarker)
:map gn <Action>(GotoNextElementUnderCaretUsage)
:map gN <Action>(GotoPrevElementUnderCaretUsage)
:map gd <Action>(GotoDeclaration)
:map gu <Action>(ShowUsages)

:map s <Action>(AceAction)
:map S <Action>(AceAction)


" Built-in navigation
:nmap <c-o> <Action>(Back)
:nmap <c-i> <Action>(Forward)
:map g<c-o> <c-o>
:map g<c-i> <c-i>

" Tab navigation (Alt+j/k)
nnoremap <a-k> gt
nnoremap <a-j> gT

" Open URL under cursor
nmap gx <Action>(OpenUrlInBrowser)

" Save
:map <c-s> <Action>(SaveAll)

" =============================================================================
" Leader: Standalone
" =============================================================================

:map <leader>@ ~
:map <leader><leader> <Action>(RecentChangedFiles)
nnoremap <leader><cr> :nohlsearch<cr>

" =============================================================================
" Leader: [a] Actions (IdeaVim-specific IDE actions)
" =============================================================================

:map <leader>ag <Action>(Generate)
:map <leader>ah <Action>(HighlightUsagesInFile)
:map <leader>am <Action>(ShowIntentionActions)
:map <leader>ao <Action>(FileStructurePopup)
:map <leader>ap <Action>(SelectInProjectView)
:map <leader>as <Action>(SelectAllOccurrences)

" =============================================================================
" Leader: [b] Breakpoints (IdeaVim-specific)
" =============================================================================

:map <leader>bb <Action>(ToggleLineBreakpoint)
:map <leader>br <Action>(Debugger.RemoveAllBreakpoints)
:map <leader>bv <Action>(ViewBreakpoints)

" =============================================================================
" Leader: [c] Comment (IdeaVim-specific)
" =============================================================================

:map <leader>cl <Action>(CommentByLineComment)
:map <leader>cb <Action>(CommentByBlockComment)

" =============================================================================
" Leader: [d] Debug / Run 
" =============================================================================

:map <leader>dc <Action>(ChooseRunConfiguration)
:map <leader>dd <Action>(Debug)
:map <leader>df <Action>(ChooseDebugConfiguration)
:map <leader>dr <Action>(Run)
:map <leader>ds <Action>(Stop)

" =============================================================================
" Leader: [e] Explorer 
" =============================================================================

:map <leader>ee :NERDTreeToggle<CR>
:map <leader>ef :NERDTreeFocus<CR>

" =============================================================================
" Leader: [f] Find 
" =============================================================================

:map <leader>ff <Action>(SearchEverywhere)
:map <leader>fg <Action>(FindInPath)

" =============================================================================
" Leader: [g] Go to / LSP 
" =============================================================================

:map <leader>ga <Action>(ShowIntentionActions)
:map <leader>gd <Action>(GotoDeclaration)
:map <leader>gD <Action>(GotoTypeDeclaration)
:map <leader>gg <Action>(QuickImplementations)
:map <leader>gi <Action>(GotoImplementation)
:map <leader>gl <Action>(ShowErrorDescription)
:map <leader>gn <Action>(GotoNextError)
:map <leader>gp <Action>(GotoPreviousError)
:map <leader>gr <Action>(ShowUsages)
:map <leader>gs <Action>(ParameterInfo)
:map <leader>gt <Action>(GotoTypeDeclaration)

" =============================================================================
" Leader: [h] Help / Hover 
" =============================================================================

:map <leader>he <Action>(ShowErrorDescription)
:map <leader>hh <Action>(QuickImplementations)
:map <leader>hi <Action>(ShowHoverInfo)
:map <leader>hj <Action>(QuickJavaDoc)

" =============================================================================
" Leader: [m] Marks 
" =============================================================================

:map <leader>ma <Action>(ToggleBookmark)
:map <leader>mm <Action>(ShowBookmarks)
:map <leader>m1 <Action>(GotoBookmark1)
:map <leader>m2 <Action>(GotoBookmark2)
:map <leader>m3 <Action>(GotoBookmark3)
:map <leader>m4 <Action>(GotoBookmark4)
:map <leader>m5 <Action>(GotoBookmark5)
:map <leader>m6 <Action>(GotoBookmark6)
:map <leader>m7 <Action>(GotoBookmark7)
:map <leader>m8 <Action>(GotoBookmark8)
:map <leader>m9 <Action>(GotoBookmark9)

" =============================================================================
" Leader: [q] Quit / Close
" =============================================================================

:map <leader>qa <Action>(CloseAllEditors)
:map <leader>qq <Action>(CloseEditor)
:map <leader>qw <Action>(CloseAllEditorsButActive)

" =============================================================================
" Leader: [r] Refactoring
" =============================================================================

:map <leader>rf <Action>(ReformatCode)
:map <leader>rl <Action>(Refactorings.QuickListPopupAction)
:map <leader>ro <Action>(OptimizeImports)
:map <leader>rr <Action>(RenameElement)
:map <leader>rs <Action>(SurroundWith)

" =============================================================================
" Leader: [t] Tabs + Terminal
" =============================================================================

:map <leader>tn :tabn<CR>
:map <leader>tp :tabp<CR>
:map <leader>tt <Action>(ActivateTerminalToolWindow)
:map <leader>tx <Action>(CloseEditor)

" =============================================================================
" Leader: [v] Version control
" =============================================================================

:map <leader>vm <Action>(Git.Menu)
:map <leader>vb <Action>(Git.Branches)
:map <leader>vl <Action>(Vcs.ShowTabbedFileHistory)
:map <leader>vp <Action>(Vcs.Push)
:map <leader>vs <Action>(Vcs.Show.Local.Changes)

" =============================================================================
" Leader: [w] Window splits 
" =============================================================================

:nmap <leader>wn <Action>(NextSplitter)
:nmap <leader>wp <Action>(PrevSplitter)
:nmap <leader>wv <Action>(SplitVertically)

" =============================================================================
" Leader: [x] Quickfix / Problems 
" =============================================================================

:map <leader>xn <Action>(GotoNextError)
:map <leader>xo <Action>(ActivateProblemsViewToolWindow)
:map <leader>xp <Action>(GotoPreviousError)

" =============================================================================
" Which-Key Settings
" =============================================================================

let g:WhichKey_FontSize = 16
let g:WhichKey_CommandColor = "#41ead4"
let g:WhichKey_PrefixColor = "#f335b2"
let g:WhichKey_SortOrder = "by_key_prefix_first"

let g:WhichKeyDesc_leader = "<leader> Leader key"

" Standalone
let g:WhichKeyDesc_clear_search = "<leader><cr> clear search buffer"
let g:WhichKeyDesc_change_case = "<leader>@ change case"
let g:WhichKeyDesc_recent_files = "<leader><leader> recent changed files"

" [a] Actions
let g:WhichKeyDesc_action = "<leader>a Actions"
let g:WhichKeyDesc_action_generate = "<leader>ag [g]enerate"
let g:WhichKeyDesc_action_highlight = "<leader>ah [h]ighlight usages"
let g:WhichKeyDesc_action_intentions = "<leader>am intention [m]enu"
let g:WhichKeyDesc_action_structure = "<leader>ao [o]pen file structure"
let g:WhichKeyDesc_action_project = "<leader>ap select in [p]roject view"
let g:WhichKeyDesc_action_select_all = "<leader>as [s]elect all occurrences"

" [b] Breakpoints
let g:WhichKeyDesc_breakpoint = "<leader>b Breakpoints"
let g:WhichKeyDesc_breakpoint_toggle = "<leader>bb toggle [b]reakpoint"
let g:WhichKeyDesc_breakpoint_remove = "<leader>br [r]emove all"
let g:WhichKeyDesc_breakpoint_view = "<leader>bv [v]iew all"

" [c] Comment
let g:WhichKeyDesc_comment = "<leader>c Comment"
let g:WhichKeyDesc_comment_block = "<leader>cb comment [b]lock"
let g:WhichKeyDesc_comment_line = "<leader>cl comment [l]ine"

" [d] Debug / Run
let g:WhichKeyDesc_debug = "<leader>d Debug / Run"
let g:WhichKeyDesc_debug_config_run = "<leader>dc run [c]onfig"
let g:WhichKeyDesc_debug_debug = "<leader>dd [d]ebug"
let g:WhichKeyDesc_debug_config_dbg = "<leader>df debug con[f]ig"
let g:WhichKeyDesc_debug_run = "<leader>dr [r]un"
let g:WhichKeyDesc_debug_stop = "<leader>ds [s]top"

" [e] Explorer
let g:WhichKeyDesc_explorer = "<leader>e Explorer"
let g:WhichKeyDesc_explorer_toggle = "<leader>ee toggle [e]xplorer"
let g:WhichKeyDesc_explorer_focus = "<leader>ef [f]ocus explorer"

" [f] Find
let g:WhichKeyDesc_find = "<leader>f Find"
let g:WhichKeyDesc_find_file = "<leader>ff [f]ind file"
let g:WhichKeyDesc_find_grep = "<leader>fg [g]rep in path"

" [g] Go to
let g:WhichKeyDesc_goto = "<leader>g Go to"
let g:WhichKeyDesc_goto_action = "<leader>ga code [a]ction"
let g:WhichKeyDesc_goto_definition = "<leader>gd go to [d]efinition"
let g:WhichKeyDesc_goto_type_def = "<leader>gD go to type [D]efinition"
let g:WhichKeyDesc_goto_hover = "<leader>gg [g]o into hover"
let g:WhichKeyDesc_goto_impl = "<leader>gi go to [i]mplementation"
let g:WhichKeyDesc_goto_float = "<leader>gl open error detai[l]"
let g:WhichKeyDesc_goto_next_err = "<leader>gn [n]ext error"
let g:WhichKeyDesc_goto_prev_err = "<leader>gp [p]rev error"
let g:WhichKeyDesc_goto_references = "<leader>gr go to [r]eferences"
let g:WhichKeyDesc_goto_signature = "<leader>gs [s]ignature help"
let g:WhichKeyDesc_goto_type = "<leader>gt go to [t]ype definition"

" [h] Help
let g:WhichKeyDesc_help = "<leader>h Help / Hover"
let g:WhichKeyDesc_help_error = "<leader>he show [e]rror"
let g:WhichKeyDesc_help_impl = "<leader>hh quick implementations"
let g:WhichKeyDesc_help_info = "<leader>hi show [i]nfo"
let g:WhichKeyDesc_help_javadoc = "<leader>hj quick [j]avadoc"

" [m] Marks
let g:WhichKeyDesc_marks = "<leader>m Marks"
let g:WhichKeyDesc_marks_add = "<leader>ma [a]dd mark"
let g:WhichKeyDesc_marks_menu = "<leader>mm [m]arks menu"
let g:WhichKeyDesc_marks_1 = "<leader>m1 mark [1]"
let g:WhichKeyDesc_marks_2 = "<leader>m2 mark [2]"
let g:WhichKeyDesc_marks_3 = "<leader>m3 mark [3]"
let g:WhichKeyDesc_marks_4 = "<leader>m4 mark [4]"
let g:WhichKeyDesc_marks_5 = "<leader>m5 mark [5]"
let g:WhichKeyDesc_marks_6 = "<leader>m6 mark [6]"
let g:WhichKeyDesc_marks_7 = "<leader>m7 mark [7]"
let g:WhichKeyDesc_marks_8 = "<leader>m8 mark [8]"
let g:WhichKeyDesc_marks_9 = "<leader>m9 mark [9]"

" [q] Quit
let g:WhichKeyDesc_quit = "<leader>q Quit / Close"
let g:WhichKeyDesc_quit_all = "<leader>qa close [a]ll"
let g:WhichKeyDesc_quit_active = "<leader>qq [q]uit active"
let g:WhichKeyDesc_quit_others = "<leader>qw close all but active"

" [r] Refactoring
let g:WhichKeyDesc_refactor = "<leader>r Refactoring"
let g:WhichKeyDesc_refactor_format = "<leader>rf [f]ormat"
let g:WhichKeyDesc_refactor_list = "<leader>rl refactor [l]ist"
let g:WhichKeyDesc_refactor_imports = "<leader>ro [o]ptimize imports"
let g:WhichKeyDesc_refactor_rename = "<leader>rr [r]ename"
let g:WhichKeyDesc_refactor_surround = "<leader>rs [s]urround with"

" [t] Tabs + Terminal
let g:WhichKeyDesc_tabs = "<leader>t Tabs"
let g:WhichKeyDesc_tabs_next = "<leader>tn [n]ext tab"
let g:WhichKeyDesc_tabs_prev = "<leader>tp [p]rev tab"
let g:WhichKeyDesc_tabs_terminal = "<leader>tt [t]erminal"
let g:WhichKeyDesc_tabs_close = "<leader>tx close tab"

" [v] Version control
let g:WhichKeyDesc_vcs = "<leader>v Version control"
let g:WhichKeyDesc_vcs_branches = "<leader>vb [b]ranches"
let g:WhichKeyDesc_vcs_log = "<leader>vl file [l]og"
let g:WhichKeyDesc_vcs_menu = "<leader>vm git [m]enu"
let g:WhichKeyDesc_vcs_push = "<leader>vp [p]ush"
let g:WhichKeyDesc_vcs_status = "<leader>vs [s]tatus"

" [w] Window
let g:WhichKeyDesc_window = "<leader>w Window splits"
let g:WhichKeyDesc_window_next = "<leader>wn [n]ext split"
let g:WhichKeyDesc_window_prev = "<leader>wp [p]rev split"
let g:WhichKeyDesc_window_vert = "<leader>wv split [v]ertically"

" [x] Quickfix / Problems
let g:WhichKeyDesc_quickfix = "<leader>x Quickfix / Problems"
let g:WhichKeyDesc_quickfix_next = "<leader>xn [n]ext problem"
let g:WhichKeyDesc_quickfix_open = "<leader>xo [o]pen problems"
let g:WhichKeyDesc_quickfix_prev = "<leader>xp [p]rev problem"

